name: API Health Check

on:
  schedule:
    - cron: "0 0,12 * * *" # runs every 12 hr
  workflow_dispatch:      # allows manual run
  pull_request:
    branches: [ "main" ]  # optional — remove if you don't want it

jobs:
  check-api:
    runs-on: ubuntu-latest

    steps:
      - name: Check Open Notify People-In-Space API
        id: api_check
        run: |
          echo "Checking https://uselessfacts.jsph.pl/api/v2/facts/random ..."
          STATUS_CODE=$(curl -s -o /dev/null -w "%{http_code}" https://uselessfacts.jsph.pl/api/v2/facts/random)
          # use curl -i https://uselessfacts.jsph.pl/api/v2/facts/random to print response body for debugging


          echo "HTTP status code: $STATUS_CODE"

          if [ "$STATUS_CODE" -ne 200 ]; then
            echo "❌ API check failed — API returned status $STATUS_CODE"
            exit 1
          else
            echo "✔️ API is active — returned 200 OK"
          fi
